.announcement-announcement {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 16px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: 12px;
  justify-content: center;
  background-color: #ffffff;
}
.announcement-announcement:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.announcement-title {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.announcement-button {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  border-color: #8AEDE8;
  flex-direction: row;
  padding-bottom: 4px;
  border-bottom-width: 1px;
}
.announcement-button-text {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
.announcement-root-class-name {
  flex: 0 0 auto;
  width: 100%;
  background-color: #187CBC;
}
.announcement-root-class-name1 {
  flex: 0 0 auto;
  width: 100%;
}
@media(max-width: 479px) {
  .announcement-announcement {
    align-items: center;
    flex-direction: column;
  }
}

.navbar-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1200px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.navbar-container {
  width: 1165px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.navbar-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.navbar-desktop-menu {
  display: flex;
}
.navbar-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-text01 {
  margin-left: var(--dl-space-space-twounits);
}
.navbar-text02 {
  margin-left: var(--dl-space-space-twounits);
}
.navbar-text03 {
  margin-left: var(--dl-space-space-twounits);
}
.navbar-text04 {
  margin-left: var(--dl-space-space-twounits);
}
.navbar-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-image {
  height: 2rem;
}
.navbar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.navbar-login {
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon-group {
  display: flex;
}
.navbar-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-mobile {
  gap: var(--dl-space-space-fourunits);
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  z-index: 200;
  position: fixed;
  transform: translateX(100%);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-image1 {
  width: 150px;
  object-fit: cover;
}
.navbar-icon10 {
  width: 28px;
  height: 28px;
}
.navbar-links {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.navbar-navlink {
  text-decoration: none;
}
.navbar-navlink1 {
  text-decoration: none;
}
.navbar-navlink2 {
  text-decoration: none;
}
.navbar-navlink3 {
  text-decoration: none;
}
.navbar-buttons {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.navbar-navlink4 {
  display: contents;
}
.navbar-btn {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: #ADE2DF;
}
.navbar-text10 {
  font-style: normal;
  font-weight: 500;
}
.navbar-navlink5 {
  display: contents;
}
.navbar-btn1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: #ADE2DF;
}
.navbar-text11 {
  font-style: normal;
  font-weight: 500;
}
@media(max-width: 991px) {
  .navbar-navbar {
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .navbar-navbar {
    align-items: center;
  }
  .navbar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-text01 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-text02 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-text03 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-text04 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-btn-group {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
  }
  .navbar-mobile {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .navbar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-mobile-menu {
    padding: 16px;
  }
}

.highlight-highlight {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.highlight-image {
  width: 442px;
  height: 412px;
  object-fit: cover;
}


.feature-feature {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: 240px;
  transition: 0.3s;
  align-items: flex-start;
  user-select: none;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
.feature-feature:hover {
  border-color: #ade2df;
}
.feature-image {
  height: 32px;
  object-fit: cover;
}
.feature-content {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-title {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.feature-description {
  font-family: Poppins;
}
@media(max-width: 767px) {
  .feature-feature {
    gap: var(--dl-space-space-oneandhalfunits);
    max-width: 100%;
  }
  .feature-content {
    gap: var(--dl-space-space-halfunit);
  }
  .feature-title {
    font-size: 18px;
    line-height: 27px;
  }
  .feature-description {
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .feature-feature {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.quote-quote {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.quote-quote1 {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  flex-direction: column;
}
.quote-quote2 {
  font-size: 32px;
  font-style: italic;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 48px;
}
.quote-people {
  gap: var(--dl-space-space-sixunits);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.quote-person {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.quote-avatar {
  width: 55px;
  height: 55px;
  border-radius: var(--dl-radius-radius-round);
}
.quote-person-details {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.quote-text {
  font-style: normal;
  font-weight: 600;
}



@media(max-width: 767px) {
  .quote-quote2 {
    font-size: 24px;
    margin-top: var(--dl-space-space-twounits);
    line-height: 36px;
  }
  .quote-person {
    flex-direction: column;
  }
  .quote-person-details {
    align-items: center;
  }
}

.social-social {
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(236, 233, 234, 0.2);
}
.social-social:hover {
  background-color: rgba(236, 233, 234, 0.6);
}
.social-insider {
  width: 18px;
  height: 18px;
}



@media(max-width: 1600px) {
  .social-root-class-name {
    background-color: var(--dl-color-gray-black);
  }
  .social-root-class-name1 {
    background-color: var(--dl-color-gray-black);
  }
  .social-root-class-name2 {
    background-color: var(--dl-color-gray-black);
  }
}
@media(max-width: 1200px) {
  .social-root-class-name {
    background-color: #187CBC;
  }
  .social-root-class-name1 {
    background-color: #187CBC;
  }
  .social-root-class-name2 {
    background-color: #187CBC;
  }
}
@media(max-width: 767px) {
  .social-social {
    padding: 12px;
  }
}

.footer-footer {
  gap: var(--dl-space-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #000000;
}
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-information {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-heading {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-pasted-image {
  width: 150px;
}
.footer-text {
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
}
.footer-socials {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-links {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  z-index: 15;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.footer-column {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-header {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}
.footer-link {
  color: #C4C4C4;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-link:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-link01 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-link01:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-link02 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-link02:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-link03 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-link03:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-link04 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-link04:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-column1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-header1 {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}
.footer-link05 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-link05:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-link06 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-link06:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-link07 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-link07:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-link08 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-link08:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-link09 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-link09:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-link10 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-link10:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-text1 {
  color: #C4C4C4;
  width: 100%;
  font-size: 14px;
  max-width: 1200px;
  line-height: 21px;
}
@media(max-width: 1600px) {
  .footer-footer {
    background-color: #EFD1E2;
  }
  .footer-text {
    color: var(--dl-color-gray-black);
  }
  .footer-header {
    color: #187cbc;
  }
  .footer-link {
    color: var(--dl-color-gray-black);
  }
  .footer-link01 {
    color: var(--dl-color-gray-black);
  }
  .footer-link02 {
    color: var(--dl-color-gray-black);
  }
  .footer-link03 {
    color: var(--dl-color-gray-black);
  }
  .footer-link04 {
    color: var(--dl-color-gray-black);
  }
  .footer-header1 {
    color: #187cbc;
  }
  .footer-link05 {
    color: var(--dl-color-gray-black);
  }
  .footer-link06 {
    color: var(--dl-color-gray-black);
  }
  .footer-link07 {
    color: var(--dl-color-gray-black);
  }
  .footer-link08 {
    color: var(--dl-color-gray-black);
  }
  .footer-link09 {
    color: var(--dl-color-gray-black);
  }
  .footer-link10 {
    color: var(--dl-color-gray-black);
  }
  .footer-text1 {
    color: #000000;
  }
}
@media(max-width: 1200px) {
  .footer-footer {
    background-color: #EFD1E2;
  }
  .footer-content {
    max-width: var(--dl-size-size-maxwidth);
  }
  .footer-text {
    color: var(--dl-color-gray-black);
  }
  .footer-header {
    color: #187CBC;
  }
  .footer-link {
    color: var(--dl-color-gray-black);
  }
  .footer-link01 {
    color: var(--dl-color-gray-black);
  }
  .footer-link02 {
    color: var(--dl-color-gray-black);
  }
  .footer-link03 {
    color: var(--dl-color-gray-black);
  }
  .footer-link04 {
    color: var(--dl-color-gray-black);
  }
  .footer-header1 {
    color: #187CBC;
  }
  .footer-link05 {
    color: var(--dl-color-gray-black);
  }
  .footer-link06 {
    color: var(--dl-color-gray-black);
  }
  .footer-link07 {
    color: var(--dl-color-gray-black);
  }
  .footer-link08 {
    color: var(--dl-color-gray-black);
  }
  .footer-link09 {
    color: var(--dl-color-gray-black);
  }
  .footer-link10 {
    color: var(--dl-color-gray-black);
  }
  .footer-text1 {
    color: var(--dl-color-gray-black);
  }
}
@media(max-width: 991px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-space-space-twounits);
  }
  .footer-content {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-information {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .footer-pasted-image {
    width: 100px;
  }
  .footer-text {
    font-size: 12px;
    line-height: 18px;
  }
  .footer-socials {
    gap: var(--dl-space-space-halfunit);
  }
  .footer-links {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    flex-direction: column;
  }
  .footer-header {
    font-size: 16px;
    line-height: 24px;
  }
  .footer-header1 {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .footer-links {
    width: 100%;
    flex-direction: column;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-header {
  width: 100%;
  height: 582px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #efd1e2;
}
.home-heading {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-notification {
  width: 100%;
}
.home-component {
  text-decoration: none;
}
.home-hero {
  width: 100%;
  height: 200 px;
  display: flex;
  min-height: var(--dl-size-size-small);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text {
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: Source Serif Pro;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-button {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-button:hover {
  transform: scale(1.02);
}
.home-video {
  color: white;
  width: 100%;
  display: flex;
  z-index: 10;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #187bbc;
}
.home-content {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
}
.home-header1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text06 {
  width: auto;
  font-size: 40px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Source Serif Pro;
  font-weight: 600;
}
.home-video-container {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: flex-start;
  flex-direction: column;
}
.home-video1 {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  border-color: rgba(0, 0, 0, 0);
  border-width: 2px;
}
.home-video1:hover {
  opacity: .5;
  border-color: #ADE2DF;
  border-width: 2px;
  border-radius: 8px;
}
.home-heading-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text09 {
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 36px;
}
.home-text10 {
  color: #EAEAEA;
  width: 600px;
  font-family: Poppins;
  line-height: 24px;
}
.home-explore {
  color: #fff;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-color: #ffffff;
  border-width: 0px;
  flex-direction: column;
  padding-bottom: 4px;
  border-bottom-width: 1px;
}
.home-explore:hover {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.3);
}
.home-text11 {
  width: Size-XSmall;
}
.home-pricing {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5ff;
}
.home-text12 {
  width: 100%;
  font-size: 40px;
  max-width: 600px;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 56px;
}
.home-container2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  justify-content: center;
}
.home-container3 {
  flex: 2;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-container4 {
  flex: 1;
  height: 450px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
}
.home-container4:hover {
  transform: scale(1.02);
}
.home-text13 {
  font-size: 1.5rem;
  font-weight: 600;
}
.home-text14 {
  margin: var(--dl-space-space-twounits);
  font-size: 4rem;
  font-weight: 200;
}
.home-text15 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text16 {
  font-weight: 700;
}
.home-text18 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text19 {
  font-weight: 700;
}
.home-text21 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text22 {
  font-weight: 700;
}
.home-text24 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text25 {
  font-weight: 700;
}
.home-button1 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.home-container5 {
  flex: 1;
  height: 450px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
}
.home-container5:hover {
  transform: scale(1.02);
}
.home-text26 {
  font-size: 1.5rem;
  font-weight: 600;
}
.home-text27 {
  margin: var(--dl-space-space-twounits);
  font-size: 4rem;
  font-weight: 200;
}
.home-text28 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text29 {
  font-weight: 700;
}
.home-text31 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text32 {
  font-weight: 700;
}
.home-text34 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text35 {
  font-weight: 700;
}
.home-text37 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text38 {
  font-weight: 700;
}
.home-button2 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.home-container6 {
  flex: 1;
  height: 450px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
}
.home-container6:hover {
  transform: scale(1.02);
}
.home-text39 {
  font-size: 1.5rem;
  font-weight: 600;
}
.home-text40 {
  margin: var(--dl-space-space-twounits);
  font-size: 4rem;
  font-weight: 200;
}
.home-text41 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text42 {
  font-weight: 700;
}
.home-text44 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text45 {
  font-weight: 700;
}
.home-text47 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text48 {
  font-weight: 700;
}
.home-text50 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text51 {
  font-weight: 700;
}
.home-button3 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.home-features {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: none;
  max-width: 1200px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: flex-start;
}
.home-header2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-tag {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #D6F1F0;
}
.home-text52 {
  font-style: normal;
  font-weight: 500;
}
.home-heading2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text53 {
  width: 100%;
  font-size: 40px;
  max-width: 400px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
.home-text54 {
  width: 100%;
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.home-feature-list {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
.home-banner-container {
  width: 100%;
  display: none;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-banner {
  width: 100%;
  height: 360px;
  display: flex;
  overflow: hidden;
  max-width: 1200px;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  background-color: #375EE0;
}
.home-overlay {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/mask%20group.svg");
}
.home-text55 {
  color: rgb(193, 255, 252);
  width: 100%;
  font-size: 40px;
  max-width: 490px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.home-book-btn {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #000000;
}
.home-book-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.home-text56 {
  color: #ffffff;
  width: 100%;
  max-width: 490px;
  font-style: normal;
  font-weight: 500;
}
.home-pasted-image {
  display: none;
}
.home-testimonials {
  width: 100%;
  display: none;
  max-width: 900px;
  align-items: stretch;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home-logo-container {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  background-color: #375EE0;
}
.home-logo {
  width: 25px;
  height: 24px;
}
.home-content1 {
  display: flex;
  position: relative;
  align-items: stretch;
  flex-direction: column;
}
.home-quotes {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-buttons {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 500px;
  align-self: center;
  margin-top: -55px;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.home-left {
  fill: #DBDBDB;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  border-color: #DBDBDB;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
}
.home-left:hover {
  fill: #000;
  border-color: #000;
}
.home-icon {
  width: 19px;
  height: 19px;
}
.home-right {
  fill: #DBDBDB;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  border-color: #DBDBDB;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
}
.home-right:hover {
  fill: #000;
  border-color: #000;
}
.home-icon2 {
  width: 19px;
  height: 19px;
}
.home-faq {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #F3F5FA;
}
.home-content2 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
}
.home-header3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-tag1 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #D6F1F0;
}
.home-text57 {
  font-style: normal;
  font-weight: 500;
}
.home-heading3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text60 {
  width: 100%;
  font-size: 40px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 56px;
}
.home-rows {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-column {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-title {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.home-description {
  font-family: Poppins;
  line-height: 24px;
}
.home-title1 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.home-description1 {
  font-family: Poppins;
  line-height: 24px;
}
.home-question2 {
  border-bottom-width: 0px;
}
.home-title2 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.home-description2 {
  font-family: Poppins;
  line-height: 24px;
}
.home-column1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-question3 {
  border-right-width: 0px;
}
.home-title3 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.home-description3 {
  font-family: Poppins;
  line-height: 24px;
}
.home-question4 {
  border-right-width: 0px;
}
.home-title4 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.home-description4 {
  font-family: Poppins;
  line-height: 24px;
}
.home-question5 {
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-title5 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.home-description5 {
  font-family: Poppins;
  line-height: 24px;
}
.home-get-started {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #187bbc;
}
.home-content3 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
}
.home-heading4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text67 {
  color: rgb(193, 255, 252);
  font-size: 64px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
}
.home-text71 {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-family: Poppins;
  line-height: 30px;
}
.home-hero-buttons {
  gap: var(--dl-space-space-unit);
  display: flex;
  z-index: 15;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-io-btn {
  gap: var(--dl-space-space-halfunit);
  fill: white;
  color: white;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #000000;
}
.home-io-btn:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
.home-caption {
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }
  .home-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text {
    text-align: center;
  }
  .home-content {
    gap: var(--dl-space-space-threeunits);
  }
  .home-container2 {
    align-items: center;
    flex-direction: column;
  }
  .home-container3 {
    width: 100%;
  }
  .home-get-started {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading4 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text67 {
    font-size: 40px;
  }
  .home-text71 {
    font-size: 18px;
  }
}
@media(max-width: 767px) {
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text06 {
    width: 100%;
    font-size: 32px;
    max-width: 640px;
  }
  .home-video-container {
    gap: var(--dl-space-space-threeunits);
  }
  .home-heading1 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text09 {
    font-size: 20px;
    line-height: 30px;
  }
  .home-text10 {
    width: 100%;
    max-width: 600px;
  }
  .home-text12 {
    font-size: 32px;
    line-height: 44px;
  }
  .home-container2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container3 {
    flex-direction: column;
  }
  .home-container4 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-container5 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-container6 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-features {
    gap: var(--dl-space-space-threeunits);
  }
  .home-header2 {
    gap: var(--dl-space-space-unit);
  }
  .home-text52 {
    font-size: 14px;
  }
  .home-text53 {
    font-size: 32px;
    line-height: 44px;
  }
  .home-text54 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-feature-list {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: column;
  }
  .home-banner {
    height: 520px;
    position: relative;
  }
  .home-overlay {
    gap: var(--dl-space-space-oneandhalfunits);
    flex: 1;
    z-index: 50;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: flex-start;
    background-image: none;
  }
  .home-text55 {
    font-size: 32px;
  }
  .home-pasted-image {
    right: 0px;
    bottom: 0px;
    height: 300px;
    display: flex;
    position: absolute;
    align-self: flex-end;
  }
  .home-testimonials {
    width: 100%;
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-logo-container {
    padding: 12px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-logo {
    width: 16px;
    height: 16px;
  }
  .home-left {
    display: flex;
  }
  .home-right {
    display: flex;
  }
  .home-faq {
    width: 100%;
  }
  .home-content2 {
    gap: var(--dl-space-space-twounits);
  }
  .home-text57 {
    font-size: 14px;
  }
  .home-text60 {
    font-size: 32px;
    line-height: 44px;
  }
  .home-rows {
    flex-direction: column;
  }
  .home-title {
    font-size: 16px;
  }
  .home-get-started {
    display: none;
  }
}
@media(max-width: 479px) {
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .home-container2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-pasted-image {
    height: 225px;
  }
  .home-buttons {
    margin-top: -40px;
  }
  .home-left {
    padding: var(--dl-space-space-halfunit);
  }
  .home-right {
    padding: var(--dl-space-space-halfunit);
  }
  .home-hero-buttons {
    width: 100%;
    flex-direction: column;
  }
  .home-io-btn {
    width: 100%;
  }
}
