<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-footer">
    <div class="footer-content">
      <div class="footer-information">
        <div class="footer-heading">
          <img
            alt="pastedImage"
            src="/playground_assets/asset%202-200h.png"
            class="footer-pasted-image"
          />
          <span class="footer-text">
            <span>Accesorios para lectores y escritores.</span>
          </span>
        </div>
        <div class="footer-socials">
          <div class="social-social social-root-class-name">
            <img
              alt="pastedImage"
              src="/playground_assets/pastedimage-9nha.svg"
              class="social-insider"
            />
          </div>
          <div class="social-social social-root-class-name1">
            <img
              alt="pastedImage"
              src="public/playground_assets/pastedimage-k0l6.svg"
              class="social-insider"
            />
          </div>
          <div class="social-social social-root-class-name2">
            <img
              alt="pastedImage"
              src="public/playground_assets/pastedimage-ld65.svg"
              class="social-insider"
            />
          </div>
        </div>
      </div>
      <div class="footer-links">
        <div class="footer-column">
          <span class="footer-header"><span>Solutions</span></span>
          <span class="footer-link"><span>Responsive Web Design</span></span>
          <span class="footer-link01"><span>Responsive Prototypes</span></span>
          <span class="footer-link02"><span>Design to Code</span></span>
          <span class="footer-link03"><span>Static Website Builder</span></span>
          <span class="footer-link04">
            <span>Static Website Generator</span>
          </span>
        </div>
        <div class="footer-column1">
          <span class="footer-header1"><span>Company</span></span>
          <span class="footer-link05"><span>About</span></span>
          <span class="footer-link06"><span>Team</span></span>
          <span class="footer-link07"><span>News</span></span>
          <span class="footer-link08"><span>Partners</span></span>
          <span class="footer-link09"><span>Careers</span></span>
          <span class="footer-link10"><span>Press & Media</span></span>
        </div>
      </div>
    </div>
    <span class="footer-text1">
      <span>© 2023 Vivir del Cuento. Derechos reservados.</span>
    </span>
  </div>
</div>
