.highlight-highlight {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.highlight-image {
  width: 442px;
  height: 412px;
  object-fit: cover;
}

